<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zarządzanie budżetem</title>
        <link rel="stylesheet" href="/static/sing_inup.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

    </head>
    <body>
          <div class="circle"></div>
          <div class="card">
            <div class="logo">
              <i class='bx bxs-coin' style='color:#ddddbd' ></i>
            </div>
              <h2>Utwórz konto</h2>
              <form class="register">
                <input type="text" id="login" placeholder="podaj login" autocomplete="on">
                <input type="text" id="name" placeholder="podaj imię" autocomplete="on">
                <input type="text" id="lastname" placeholder="podaj nazwisko" autocomplete="on">
                <input type="password" id="password" placeholder="podaj hasło" autocomplete="on">
                <button type="submit" onclick="addUser()">Zarejestruj</button>
              </form>
              <script src="/static/script.js">  
            </script>
              <footer>Mam już konto 
                <a href="#">Zaloguj</a>
              </footer>
          
          </div>
    </body>
</html>