@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}
body{
  background: #fff;
  height: 100%;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #FBF2EB;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}

.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* Side menubar section */
nav{
  background: #FBF2EB;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:hover{
  background: rgb(235, 235, 235);
}
.side_navbar .active{
  border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */
.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: #DDDDBD;
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}
.promo_card button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFDCD0;
}
.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: #FBF2EB;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}



/* Sidebar Section */
.sidebar{
  width: 15%;
  padding: 2rem 1rem;
  background: #FBF2EB;
}
.sidebar h4{
  margin-bottom: 1.5rem;
}
.sidebar .balance{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.balance .icon{
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 1rem;
  background: #DDDDBD;
}
.balance .info h5{
  font-size: 16px;
}
.balance .info span{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.balance .info i{
  margin-right: 2px;
}

form{
  background: #FBF2EB;
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
}

form label{
  font-weight: 300;
}

form button{
  background:#DDDDBD;
  padding: 2px;
  width: 65px;
  border-radius:15%;
}

form input[type='text']{
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}
form input[type='number']{
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}
form button:hover{
  cursor:pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.history_lists .categories{
  width: 500px;
}
table.scrolldown{
  width: 100%;
  border-spacing: 0;
}

table.scrolldown,
table.scrolldown {
  display: block;
}

tr th{
  height: 40px;
  line-height: 20px;
  text-align: center;
}

table.scrolldown {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}


td, th, tr{
  text-align: center;
}

::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background: #FFDCD0;
}
::-webkit-scrollbar-thumb{
  background: #DDDDBD;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
  background: #c4cfa8;
}

.container .main-body .buttons{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.container .main-body .buttons .pages{
  background: #fff;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(136,148,171,0.2), 0 24px 20px -24px rgba(71,82,107,0.1);
}

.container .main-body .buttons .pages i{
  font-size: 24px;
  color: #ddddbd;
}

.container .main-body .buttons .pages a{
  font-size: 24px;
  color: #DDDDBD;
  text-decoration: none;
}
.container .main-body .buttons .pages a:visited,
.container .main-body .buttons .pages a:hover{
  color: #DDDDBD;
  text-decoration: none;
}

.container .main-body .buttons .pages:hover{
  box-shadow: 0 2px 6px rgba(221, 221, 189,0.2), 0 24px 20px -24px rgba(221, 221, 189,0.1);

}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffcfc4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffcfc4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.tabcontent .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tabcontent form{
  padding: 30px 0 0 0;
}
.tabcontent form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row{
  height: 70px;
}
.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #DDDDBD;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #DDDDBD;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #DDDDBD, #ffdcd0, #fbeadc, #fbf2eb);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

.categories_tbl{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.categories_th{
  border-bottom: 3px solid #fbeadc;
}
.categories_th, .categories_td{
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

.categories_th:first-child, .categories_td:first-child{
  text-align: left;
}


.close, .edit{
cursor: pointer;
padding: 10px;
border-radius: 15px;
}

.close:hover{
background: #ffcfc4;
}

.edit:hover{
  background: #c4cfa8;
}

