@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    background-color: #f0f5fd;
}

.left-section{
    background-color: #fff;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 25px 10px;
    transition: all 0.3s ease;
}

.left-section h2{
    color: #DDDEBC;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section .sidebar .item{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #F4D2C9;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover{
    color: #FFDECF;
}
.left-section .sidebar .item h3{
    font-size: 15px;
    font-weight: 500;
}

.left-section .sidebar .item i{
    font-size: 22px;
}